header{
    background-color: rgb(104, 132, 173);
    width: 100%;
    height: 100px;
    padding: 0;
    box-shadow: 10px 0px 5px 1px #b4bbbf;
}

.siteTitle{
    /*color: #fffefa;*/
    color: #fffdf5;
    font-weight: bold;
    line-height: 50px;
    font-size: 35px;
    margin-left: 70px;
    position: relative;
    top: 25px;
    /*font-family: Helvetica, Arial, sans-serif;*/
}

header nav ul{
    float: right;
    margin-right: 90px;
    
}

header nav ul li{
    display: inline-block;
    margin-right: 30px;
    position: relative;
    bottom: 30px;
    right: 50px;
}

header nav ul li a{
    font-size: 29px;
    /*color: black;*/
    color: #fffdf5;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

header nav ul li a:hover{
    background: #abbed9;
    /*padding: 5px 10px;*/
    /*border-radius: 40px;*/
    /*color: #fffdf5;*/
    color: #ffffff;
}

a.active{
    background: #abbed9;
    /*padding: 10px 30px;*/
    border-radius: 0px;
    padding: 37px 15px 32px 15px;
    color: #ffffff;
}

.blogList ul li{
    display: grid;
    margin-left: 475px;
    position: relative;
    bottom: 50px;
}

.blogList ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: 100px;
    /*background-color: #f0f0f0;*/
    /* latestbackground-color: #f7f7f7;*/
    /*newlatesbackground-color: #fafeff;*/
    background-color: #fcfeff;
    width: 50%;
    height: 150px;
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /* latestbox-shadow: 0 0 0.1875rem 0.0625rem rgb(194, 194, 194);*/
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    text-align: center;
}

.blogList ul li a:hover{
    /*background: #dedede;*/
    background: #edeff0;
}

.blogHeading{
    /*margin-left: 728px;*/
    margin-left: 49%;
    margin-top: 3%;
}

.blog1Post article{
    margin: 2% 20% 4% 20%;
    font-size: 20px;
}

.blog1H1{
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.blog2H1{
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.blog3H1{
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.backToBlogs a{
    /* latestbackground-color: #f7f7f7;*/
    background-color: #fcfeff;
    margin: 0 20% 0 20%;
    margin-bottom: 30%;
    /*width: 10%;
    height: 100%;*/
    padding: 1% 2% 1% 2%;
    color: black;
    text-decoration: none;
    box-shadow: 0 0 0.1875rem 0.0625rem rgb(194, 194, 194);
    border-radius: 10%;
}

.backToBlogs a:hover{
    background: #edeff0;
}

.backToBlogs{
    margin-bottom: 10%;
    margin-top: 2%;
}

footer{
    margin: 10% 0 0 0;
    text-align: center;
    background: #8794a8;
    width: 100%;
    height: 35px;
    color: #fffdf5;
}

footer p{
    position: relative;
    top: 6px;
}

.pointIndent{
    padding-left: 1%;
}

.References{
    margin: 2% 20% 4% 20%;
    font-size: 20px;
}

body{
    background-color: #f7fbfc;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /* looks nicest font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Times New Roman', Times, serif;
}

.gamesList ul{
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 18%;
}

.gamesList ul li{
    display: inline-block;
    /*margin-left: 10%;
    padding: 10% 20% 10% 10%;
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px; this works*/ 
    margin-right: 5%;
}

.gamesList ul li a{
    text-decoration: none;
    color: black;
    /*padding: 10% 10% 10% 10%;*/
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    padding: 100px 150px 100px 150px;
    font-size: 40px;
    font-weight: bold;
}


.gamesList ul li a:hover{
    background: #edeff0;
}

.gamesHeading{
    margin-left: 44%;
    margin-top: 4%;
    font-size: 50px;
}

.codeProjectList ul{
    margin-left: 9%;
    margin-top: 11%;
    margin-bottom: 18%;
}

.codeProjectList ul li{
    display: inline-block;
    margin-right: 5%;
}

.codeProjectList ul li a{
    text-decoration: none;
    color: black;
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    padding: 100px 120px 100px 120px;
    font-size: 40px;
    font-weight: bold;
}

.codeProjectList ul li a:hover{
    background: #edeff0;
}

.codeProjectHeading{
    margin-left: 41%;
    margin-top: 4%;
    font-size: 50px;
}

/*.game1Img img{
    width: 30%;
    height: 50%;
    border-radius: 8px;
    margin-left: 15.5%;
    position: relative;
    bottom: 290px;
}*/

/*.game1H1{
    margin-left: 20%;
}*/

.game1Logo img{
    margin-left: 19%;
    margin-right: 20%;
    margin-top: 4%;
    width: 60%;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
}

.game2Logo img{
    margin-left: 19%;
    margin-right: 20%;
    margin-top: 4%;
    width: 61%;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
}

.codeProject1H1{
    margin-left: 35%;
    margin-top: 4%;
}

.codeProject2H1{
    margin-left: 30%;
    margin-top: 4%;
}

.homeDescription{
    color: black;
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    padding: 50px 70px 50px 70px;
    margin-top: 4%;
    margin-bottom: 16%;
    margin-left: 20%;
    margin-right: 20%;
}

.homeDescription article{
    font-size: 22px;
}

.indexH1{
    margin-top: 8%;
    margin-left: 30%;
}

.pdfDoc iframe{
    margin-left: 17%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.wireframeH1{
    margin-left: 38%;
    margin-top: 4%;
}